/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-alignment {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 72px;
  height: 71px;
}
.icon-alpha {
  background-image: url(../img/sprites.png);
  background-position: -72px 0px;
  width: 72px;
  height: 71px;
}
.icon-discipline {
  background-image: url(../img/sprites.png);
  background-position: 0px -71px;
  width: 72px;
  height: 71px;
}
.icon-governance {
  background-image: url(../img/sprites.png);
  background-position: -72px -71px;
  width: 72px;
  height: 71px;
}
.icon-integrity {
  background-image: url(../img/sprites.png);
  background-position: -144px 0px;
  width: 72px;
  height: 71px;
}
.icon-next {
  background-image: url(../img/sprites.png);
  background-position: 0px -142px;
  width: 31px;
  height: 48px;
}
.icon-oppurtune {
  background-image: url(../img/sprites.png);
  background-position: -144px -71px;
  width: 72px;
  height: 71px;
}
.icon-prev {
  background-image: url(../img/sprites.png);
  background-position: -31px -142px;
  width: 31px;
  height: 48px;
}
