.home {
  background-color: #333;
  padding-top: 128px;
  background-image: url(../img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  .slider-container {
    min-height: 300px;
    margin-top: 50px;
    background-color: rgba(154, 2, 1, 0.7);
    color: #fff;
    position: relative;

    .carousel-container {
      width: 100%;
      padding: 30px 0;

      .slider-nav {
        @include centerer(false, true);

        display: none;
        transition: all 0.5s ease;
        height: 48px;
        width: 31px;

        @media (min-width: 1200px) {
          display: block;
        }

        &:hover {
          opacity: 0.7;
        }

        &.prev {
          left: 40px;
        }

        &.next {
          right: 50px;
        }

        color: #fff;
        font-size: 50px;
      }

      .item {
        .item-header {
          border-bottom: $border-color thin solid;

          h2,
          h4 {
            margin: 0;
            font-family: $futura-medium;
            text-transform: uppercase;
          }
        }

        .per-item {
          .content-heading {
            font-size: 14px;
            font-family: $roboto;
            font-weight: bold;
          }

          p {
            font-family: $roboto;
            font-weight: 500;
          }
        }
      }
    }
  }

  .page-down {
    text-align: center;
    width: 100%;

    @media (min-width: 1200px) {
      @include centerer(true, false);

      bottom: 10px;
    }

    h1 {
      font-size: 50px;
      color: #fff;
      text-transform: uppercase;
      width: 100%;

      a {
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

.philosophy {
  padding: 40px 0;
  padding-bottom: 0;

  .pre-content {
    font-family: $roboto;
    font-size: 15px;
    color: #555;
    padding-bottom: 70px;
  }

  .phi-items {
    margin-bottom: 30px;

    @media (min-width: 1200px) {
      min-height: 150px;
      margin-bottom: 0;
    }

    .item-icons {
      position: absolute;
    }

    .item-description {
      padding-left: 100px;

      h4 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        color: #888;
      }
    }
  }
}

.section-banner {
  min-height: 315px;

  @media (min-width: 768px) {
    background-attachment: fixed;
  }

  background-color: #888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  text-align: center;
  font-family: $futura-medium;
  background-blend-mode: multiply;

  h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;

    @include centerer(true, true);

    width: 95%;

    a {
      color: #fff;
      font-size: 30px;
    }
  }
}

.our-team {
  .team-banner {
    background-image: url(../img/ourteam-banner.jpg);

    &.advisors {
      background-image: url(../img/ouradvisors-banner.jpg);
    }
  }

  .team-list {
    padding-top: 50px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin-bottom: 60px;
      }
    }

    .team-picture {
      width: 190px;
      height: 190px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 15px auto;

      @media (min-width: 1200px) {
        position: absolute;
      }

      img {
        width: 190px;
        height: 190px;
      }
    }

    .team-info {
      @media (min-width: 1200px) {
        padding-left: 230px;
      }

      h4,
      h1 {
        font-family: $futura-medium;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 1200px) {
          text-align: left;
        }
      }

      h1 {
        color: #444444;
        font-size: 33px;
      }

      p {
        font-size: 14px;
        margin: 0 0 20px;
      }
    }
  }
}

.contact-info {
  padding-top: 50px;

  .map-image {
    min-height: 400px;
    background-color: #444;
    background-image: url('../img/map.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact-section {
    padding-top: 30px;

    .contact-settings {
      .contact-item {
        padding-top: 15px;

        .fa-stack-2x {
          color: $site-red;
        }

        small {
          display: block;
          font-weight: 500;
        }
      }

      .contact-icon {
        position: absolute;
      }

      .contact-details {
        padding-left: 45px;

        p,
        a {
          margin: 0;
          color: #555555;
        }
      }
    }

    .contact-subscribe {
      @media (min-width: 1024px) {
        margin-left: 30%;
      }

      padding-top: 15px;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          width: 260px;
          margin-right: 17px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
