.home {
  background-color: #333;
  padding-top: 128px;
  background-image: url(../img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  // .slider-container {
  //   min-height: 180px;
  //   margin-top: 50px;
  //   background-color: rgba(154, 2, 1, 0.7);
  //   color: #fff;
  //   position: relative;

  //   .carousel-container {
  //     width: 100%;
  //     padding: 30px 0;

  //     .slider-nav {
  //       @include centerer(false, true);

  //       display: none;
  //       transition: all 0.5s ease;
  //       height: 48px;
  //       width: 31px;

  //       @media (min-width: 1200px) {
  //         display: block;
  //       }

  //       &:hover {
  //         opacity: 0.7;
  //       }

  //       &.prev {
  //         left: 40px;
  //       }

  //       &.next {
  //         right: 50px;
  //       }

  //       color: #fff;
  //       font-size: 50px;
  //     }

  //     .item {
  //       h1 {
  //         font-size: 30px;
  //         text-align: center;

  //         @media (min-width: 1200px) {
  //           line-height: 180px;
  //           font-size: 60px;
  //         }
  //       }

  //       .item-header {
  //         border-bottom: $border-color thin solid;

  //         h2,
  //         h4 {
  //           margin: 0;
  //           font-family: $futura-medium;
  //           text-transform: uppercase;
  //         }
  //       }

  //       .per-item {
  //         .content-heading {
  //           font-size: 14px;
  //           font-family: $roboto;
  //           font-weight: bold;
  //         }

  //         p {
  //           font-family: $roboto;
  //           font-weight: 500;
  //         }
  //       }
  //     }
  //   }
  // }

  .home-banner {
    min-height: 180px;
    background-color: rgba(154, 2, 1, 0.7);
    width: 100%;
    top: 57%;
    position: absolute;
    transform: translateY(-57%);

    h1 {
      width: 100%;
      text-align: center;
      font-family: $futura-medium;
      color: #fff;
      margin: 0;
      font-size: 40px;

      b {
        font-family: $bodoni;
      }

      @include centerer(true, true);

      @media (min-width: 1200px) {
        font-size: 60px;
      }
    }
  }
}

.page-down {
  text-align: center;
  width: 100%;
  font-family: $futura-medium;

  @include centerer(true, false);

  bottom: 10px;

  h1 {
    font-size: 35px;

    @media (min-width: 1200px) {
      font-size: 50px;
    }

    color: #fff;
    text-transform: uppercase;
    width: 100%;

    a {
      color: #fff;
      font-size: 30px;
    }
  }
}

.our-business {
  color: #020101;

  .philosophy-banner {
    background-image: url(../img/our-business.jpg);
  }

  .section-header {
    padding-top: 30px;

    h1 {
      font-family: $futura-medium;
      text-transform: uppercase;
      font-size: 28px;
    }
  }

  .per-item {
    margin-bottom: 10px;
    padding: 15px;

    .per-item-icon {
      position: absolute;
    }

    .per-item-desc {
      padding-left: 85px;

      .content-heading {
        color: #444444;
        font-weight: bold;
        font-size: 18px;
      }

      p {
        color: #888888;
      }
    }
  }
}

.philosophy {
  .philosophy-banner {
    background-image: url(../img/ourbusiness-banner.jpg);
  }

  .pre-content {
    font-family: $roboto;
    font-size: 15px;
    color: #555;
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .phi-items {
    margin-bottom: 30px;
    text-align: justify;

    @media (min-width: 1200px) {
      min-height: 150px;
      margin-bottom: 0;
    }

    .item-icons {
      position: absolute;
    }

    .item-description {
      padding-left: 100px;

      h4 {
        font-size: 18px;
        font-weight: bold;
        color: #444444;
      }

      p {
        color: #888;
      }
    }
  }
}

.our-team {
  padding-bottom: 50px;

  .team-banner {
    background-image: url(../img/ourteam-banner.jpg);

    &.advisors {
      background-image: url(../img/ouradvisors-banner.jpg);
    }
  }

  .team-list {
    padding-top: 60px;
    padding-bottom: 60px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin-bottom: 80px;
      }
    }

    .team-picture {
      width: 190px;
      height: 190px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 15px auto;

      @media (min-width: 1200px) {
        position: absolute;
      }

      img {
        width: 190px;
        height: 190px;
      }
    }

    .team-info {
      text-align: justify;

      @media (min-width: 1200px) {
        padding-left: 230px;
      }

      h4,
      h1 {
        font-family: $futura-medium;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 1200px) {
          text-align: left;
        }
      }

      h1 {
        color: #444444;
        font-size: 33px;
      }

      p {
        font-size: 14px;
        margin: 0 0 20px;
      }
    }
  }
}

.contact-info {
  padding-top: 100px;

  @media (min-width: 1560px) {
    min-height: 90vh;

    .map-image {
      min-height: 600px !important;
    }
  }

  .map-image {
    min-height: 400px;
    background-color: #444;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contact-section {
    padding-top: 30px;
    padding-bottom: 30px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .contact-settings {
      width: 100%;
      text-align: justify;
      -ms-text-justify: distribute-all-lines;
      text-justify: distribute-all-lines;

      .contact-item {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;

        @media (min-width: 1200px) {
          width: 20% !important;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          width: 50%;
        }

        float: left;

        a {
          text-decoration: underline;
        }

        .fa-stack-2x {
          color: $site-red;
        }

        small {
          display: block;
          font-weight: 500;
        }
      }

      .contact-icon {
        position: absolute;
      }

      .contact-details {
        padding-left: 45px;

        p,
        a {
          margin: 0;
          color: #555555;
        }
      }
    }

    .contact-subscribe {
      @media (min-width: 1024px) {
        margin-left: 30%;
      }

      padding-top: 15px;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          width: 240px;
          margin-right: 17px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.section-banner {
  min-height: 315px;

  @media (min-width: 768px) {
    background-attachment: fixed;
  }

  background-color: #888;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  text-align: center;
  font-family: $futura-medium;
  background-blend-mode: multiply;

  h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;

    @include centerer(true, true);

    @media (min-width: 1200px) {
      font-size: 50px;
    }

    width: 95%;

    a {
      color: #fff;
      font-size: 30px;
    }
  }
}
