footer {
  min-height: 40px;
  width: 100%;
  background-color: $site-red;
  line-height: 40px;
  color: #ffffff;
  font-size: 8px;

  @media (min-width: 1200px) {
    font-size: 11px;
  }

  margin-top: 10px;
  text-align: center;

  .copyright {
    ul {
      @media (max-width: 767px) {
        float: none !important;
        text-align: center;
      }

      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        a {
          color: #fff;
          font-family: $roboto;
          font-weight: 500;
        }
      }
    }
  }
}

/*------- MODALS ------
-------------------------*/
.popups {
  .close {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1024;
  }

  .scroll-content {
    padding: 20px;

    ul {
      li {
        margin: 10px 0;
      }
    }
  }
}
