header {
  .pre-header {
    background-color: #000;
    width: 100%;
    min-height: 27px;
    position: fixed;
    z-index: 1030;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: right;
      padding: 0 15px;

      @media (min-width: 1200px) {
        float: right;
      }

      li {
        display: inline-block;
        line-height: 27px;

        &:not(:last-child) {
          margin: 0 10px;
        }

        img {
          top: -1px;
          position: relative;
        }

        a {
          text-transform: uppercase;
          font-family: $lato;
          font-weight: bold;
          color: #fff;

          i {
            padding-right: 3px;
          }
        }
      }
    }
  }

  .navbar {
    top: 27px;
    min-height: 97px;
    background-color: #fff;
    border-color: transparent;

    .navbar-brand {
      padding: 0 15px;
      height: 100px;
      line-height: 100px;

      img {
        display: inline-block;
      }
    }

    .navbar-toggle {
      /* (97px - button height 34px) / 2 = 31.5px */
      margin-top: 31.5px;
      padding: 9px 10px !important;
    }

    .navbar-nav {
      &.main-nav {
        @media (min-width: 1200px) {
          padding-left: 40px;
        }
      }

      &.sub-nav {
        li {
          margin: 0;

          &:hover {
            border-bottom: transparent 3px solid;
            opacity: 0.7;
          }

          a {
            padding-top: 25px;
            padding-bottom: 25px;
          }

          .fa-stack-2x {
            font-size: 40px;
            color: $site-red;
          }

          .fa-stack-1x {
            line-height: 40px;
          }
        }
      }

      li {
        margin: 0 15px;
        border-bottom: transparent 3px solid;

        &.social-mobile-icons {
          a {
            padding-top: 25px;
            padding-bottom: 25px;
            float: left;
            display: block;

            &:hover {
              background-color: transparent;
            }
          }

          .fa-stack-2x {
            font-size: 40px;
            color: $site-red;
          }

          .fa-stack-1x {
            line-height: 40px;
          }
        }

        &.active,
        &:hover {
          border-bottom: $site-red 3px solid;

          a {
            background-color: transparent;

            &:hover {
              background-color: transparent;
            }
          }
        }

        a {
          text-transform: uppercase;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 500;

          @media (min-width: 991px) {
            /* (97px - line-height of 27px) / 2 = 26.5px */

            padding-top: 35px;
            padding-bottom: 35px;
            line-height: 27px;
          }
        }
      }
    }
  }
}

.navbar-collapse {
  @media (min-width: 768px) and (max-width: 991px) {
    width: 300px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}
